In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.linear_model import LogisticRegression, Perceptron, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
train_data = pd.read_csv('/content/train.csv')

In [3]:
test_data = pd.read_csv('/content/test.csv')

In [4]:
print(train_data.head())
print(train_data.tail())

print(test_data.head())
print(test_data.tail())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
     PassengerId  Pclass                          Name     Sex   Age  SibSp  \
413         1305       3            Spector, Mr. Woolf    male   NaN      0
414         1306       1  Oliva y Ocana, Dona. Fermina  female  39.0      0
415         1307       3  Saether, Mr. Simon Sivertsen    male  38.5      0
416         1308       3           Ware, Mr. Frederick    male   NaN      0
417         1309       3      Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

In [5]:
import pandas as pd
import numpy as np

# Load the datasets
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# Function to extract title and map it to a number
def extract_and_map_title(df):
    # Extract titles from names
    df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

    # Print unique titles to see what we're working with
    print("Unique titles:", df['Title'].unique())

    # Map titles to numbers
    title_mapping = {
        "Mr": 1,
        "Miss": 2,
        "Mrs": 3,
        "Master": 4,
        "Dr": 5,
        "Rev": 6,
        "Col": 7,
        "Major": 7,
        "Mlle": 8,
        "Countess": 9,
        "Ms": 10,
        "Lady": 11,
        "Jonkheer": 12,
        "Don": 13,
        "Dona": 14,
        "Mme": 15,
        "Capt": 16,
        "Sir": 17
    }

    # Apply the mapping to the Title column
    df['Title'] = df['Title'].map(title_mapping)

    # Fill any missing values with 0 (in case there are any titles we didn't account for)
    df['Title'] = df['Title'].fillna(0)

    return df

# Apply the title extraction and mapping to both datasets
train_df = extract_and_map_title(train_df)
test_df = extract_and_map_title(test_df)

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

# Print the first few rows to verify the changes
print("Updated Training Data:")
print(train_df.head())
print("Updated Testing Data:")
print(test_df.head())

Unique titles: ['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'Countess' 'Jonkheer']
Unique titles: ['Mr' 'Mrs' 'Miss' 'Master' 'Ms' 'Col' 'Rev' 'Dr' 'Dona']
Updated Training Data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Title
0      0         A/5 21171   7.2500   NaN        S      1
1      0          PC 17599  71.2833   C85        C      3
2      0  STON/O2. 3101282   7.9250   NaN        S      2
3      0            113803  53.1000  C123        S      3
4      0            373450   8.0500   NaN        S      1
Updated Testing Data:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked  Title
0  34.5      0      0   330911   7.8292   NaN        Q      1
1  47.0      1      0   363272   7.0000   NaN        S      3
2  62.0      0      0   240276   9.6875   NaN        Q      1
3  27.0      0      0   315154   8.6625   NaN        S      1
4  22.0      1      1  3101298  12.2875   NaN        S      3

In [6]:
# Function to convert Sex to numeric
def convert_sex_to_numeric(df):
    df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})
    return df

# Load and process train dataset
train_df = pd.read_csv('train_updated.csv')
train_df = convert_sex_to_numeric(train_df)

# Load and process test dataset
test_df = pd.read_csv('test_updated.csv')
test_df = convert_sex_to_numeric(test_df)

# Print the first few rows to verify the change
print("Train dataset (first 5 rows):")
print(train_df[['PassengerId', 'Sex']].head())

print("\nTest dataset (first 5 rows):")
print(test_df[['PassengerId', 'Sex']].head())

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("\nDatasets updated and saved.")

Train dataset (first 5 rows):
   PassengerId  Sex
0            1    1
1            2    0
2            3    0
3            4    0
4            5    1

Test dataset (first 5 rows):
   PassengerId  Sex
0          892    1
1          893    0
2          894    1
3          895    1
4          896    0

Datasets updated and saved.

In [7]:
import pandas as pd
import numpy as np

# Load the updated datasets
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

def process_data(df):
    # Merge SibSp and Parch into FamilySize
    df['FamilySize'] = df['SibSp'] + df['Parch']

    # Convert 'Sex' to numeric if it's not already
    if df['Sex'].dtype == 'object':
        df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})

    # Convert 'Ticket' to numeric
    df['Ticket'] = pd.factorize(df['Ticket'])[0]

    return df

# Process both datasets
train_df = process_data(train_df)
test_df = process_data(test_df)

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("Updated datasets have been saved.")

# Display the first few rows and data info of the training dataset
print("\nFirst few rows of the updated training dataset:")
print(train_df.head())
print("\nDataset Info:")
print(train_df.info())

Updated datasets have been saved.

First few rows of the updated training dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

   Ticket     Fare Cabin Embarked  Title  FamilySize
0       0   7.2500   NaN        S      1           1
1       1  71.2833   C85        C      3           1
2       2   7.9250   NaN        S      2           0
3       3  53.1000  C123        S      3           1
4       4   8.0500   NaN        S      1           0

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int64
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Title        891 non-null    int64
 13  FamilySize   891 non-null    int64
dtypes: float64(2), int64(9), object(3)
memory usage: 97.6+ KB
None

In [8]:
import pandas as pd

# Load the datasets
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

# Drop 'Cabin' and 'Ticket' columns
columns_to_drop = ['Cabin', 'Ticket']
train_df = train_df.drop(columns=columns_to_drop)
test_df = test_df.drop(columns=columns_to_drop)

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("Columns dropped and datasets updated.")

# Display information about the updated datasets
print("\nUpdated training dataset info:")
print(train_df.info())

print("\nUpdated testing dataset info:")
print(test_df.info())

Columns dropped and datasets updated.

Updated training dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Embarked     889 non-null    object
 10  Title        891 non-null    int64
 11  FamilySize   891 non-null    int64
dtypes: float64(2), int64(8), object(2)
memory usage: 83.7+ KB
None

Updated testing dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    object
 9   Title        418 non-null    int64
 10  FamilySize   418 non-null    int64
dtypes: float64(2), int64(7), object(2)
memory usage: 36.0+ KB
None

In [9]:
import pandas as pd

# Load the updated datasets
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

# Function to process the dataset
def process_age(df, dataset_name):
    # Print the number of null values in the Age column
    null_age_count = df['Age'].isnull().sum()
    print(f"Number of null values in Age column ({dataset_name}): {null_age_count}")

    # Fill null values in Age column with 29
    df['Age'].fillna(29, inplace=True)

    # Verify that there are no more null values in Age column
    null_age_count_after = df['Age'].isnull().sum()
    print(f"Number of null values in Age column after filling ({dataset_name}): {null_age_count_after}")

    return df

# Process train dataset
train_df = process_age(train_df, "train")

# Process test dataset
test_df = process_age(test_df, "test")

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("Updated datasets have been saved.")

Number of null values in Age column (train): 177
Number of null values in Age column after filling (train): 0
Number of null values in Age column (test): 86
Number of null values in Age column after filling (test): 0
Updated datasets have been saved.

In [10]:
def categorize_age(age):
    if pd.isna(age):
        return 0  # For missing values
    elif 0 <= age <= 25:
        return 1
    elif 26 <= age <= 50:
        return 2
    elif 51 <= age <= 75:
        return 3
    else:
        return 4

# Load the updated datasets
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

# Apply age categorization
train_df['AgeCategory'] = train_df['Age'].apply(categorize_age)
test_df['AgeCategory'] = test_df['Age'].apply(categorize_age)

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("Age categorization completed and datasets updated.")

# Display the first few rows of each dataset to verify the changes
print("\nFirst few rows of the updated training dataset:")
print(train_df[['PassengerId', 'Age', 'AgeCategory']].head())

print("\nFirst few rows of the updated testing dataset:")
print(test_df[['PassengerId', 'Age', 'AgeCategory']].head())

# Display value counts of AgeCategory
print("\nAge Category distribution in training dataset:")
print(train_df['AgeCategory'].value_counts().sort_index())

print("\nAge Category distribution in testing dataset:")
print(test_df['AgeCategory'].value_counts().sort_index())

Age categorization completed and datasets updated.

First few rows of the updated training dataset:
   PassengerId   Age  AgeCategory
0            1  22.0            1
1            2  38.0            2
2            3  26.0            2
3            4  35.0            2
4            5  35.0            2

First few rows of the updated testing dataset:
   PassengerId   Age  AgeCategory
0          892  34.5            2
1          893  47.0            2
2          894  62.0            3
3          895  27.0            2
4          896  22.0            1

Age Category distribution in training dataset:
AgeCategory
1    301
2    526
3     63
4      1
Name: count, dtype: int64

Age Category distribution in testing dataset:
AgeCategory
1    142
2    245
3     30
4      1
Name: count, dtype: int64

In [11]:
import pandas as pd

# Load the updated datasets
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

# Drop the 'Fare' column from both datasets
train_df = train_df.drop('Fare', axis=1)
test_df = test_df.drop('Fare', axis=1)

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("'Fare' column dropped and datasets updated.")

# Display the first few rows of each dataset to verify the changes
print("\nFirst few rows of the updated training dataset:")
print(train_df.head())

print("\nFirst few rows of the updated testing dataset:")
print(test_df.head())

# Display column names to confirm 'Fare' is removed
print("\nColumns in the training dataset:")
print(train_df.columns.tolist())

print("\nColumns in the testing dataset:")
print(test_df.columns.tolist())

'Fare' column dropped and datasets updated.

First few rows of the updated training dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

  Embarked  Title  FamilySize  AgeCategory
0        S      1           1            1
1        C      3           1            2
2        S      2           0            2
3        S      3           1            2
4        S      1           0            2

First few rows of the updated testing dataset:
   PassengerId  Pclass                                          Name  Sex  \
0          892       3                              Kelly, Mr. James    1
1          893       3              Wilkes, Mrs. James (Ellen Needs)    0
2          894       2                     Myles, Mr. Thomas Francis    1
3          895       3                              Wirz, Mr. Albert    1
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0

    Age  SibSp  Parch Embarked  Title  FamilySize  AgeCategory
0  34.5      0      0        Q      1           0            2
1  47.0      1      0        S      3           1            2
2  62.0      0      0        Q      1           0            3
3  27.0      0      0        S      1           0            2
4  22.0      1      1        S      3           2            1

Columns in the training dataset:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Title', 'FamilySize', 'AgeCategory']

Columns in the testing dataset:
['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked', 'Title', 'FamilySize', 'AgeCategory']

In [12]:
import pandas as pd

# Load the updated datasets
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

# Columns to drop
columns_to_drop = ['SibSp', 'Parch', 'TitleNum', 'Age']

# Drop the specified columns from both datasets
train_df = train_df.drop(columns=columns_to_drop, errors='ignore')
test_df = test_df.drop(columns=columns_to_drop, errors='ignore')

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("Specified columns dropped and datasets updated.")

# Display the first few rows of each dataset to verify the changes
print("\nFirst few rows of the updated training dataset:")
print(train_df.head())

print("\nFirst few rows of the updated testing dataset:")
print(test_df.head())

# Display column names to confirm dropped columns
print("\nColumns in the training dataset:")
print(train_df.columns.tolist())

print("\nColumns in the testing dataset:")
print(test_df.columns.tolist())

Specified columns dropped and datasets updated.

First few rows of the updated training dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex Embarked  Title  \
0                            Braund, Mr. Owen Harris    1        S      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0        C      3
2                             Heikkinen, Miss. Laina    0        S      2
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0        S      3
4                           Allen, Mr. William Henry    1        S      1

   FamilySize  AgeCategory
0           1            1
1           1            2
2           0            2
3           1            2
4           0            2

First few rows of the updated testing dataset:
   PassengerId  Pclass                                          Name  Sex  \
0          892       3                              Kelly, Mr. James    1
1          893       3              Wilkes, Mrs. James (Ellen Needs)    0
2          894       2                     Myles, Mr. Thomas Francis    1
3          895       3                              Wirz, Mr. Albert    1
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0

  Embarked  Title  FamilySize  AgeCategory
0        Q      1           0            2
1        S      3           1            2
2        Q      1           0            3
3        S      1           0            2
4        S      3           2            1

Columns in the training dataset:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Embarked', 'Title', 'FamilySize', 'AgeCategory']

Columns in the testing dataset:
['PassengerId', 'Pclass', 'Name', 'Sex', 'Embarked', 'Title', 'FamilySize', 'AgeCategory']

In [13]:
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

train_df = train_df.drop('Name', axis=1)
test_df = test_df.drop('Name', axis=1)

train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

In [16]:
import pandas as pd
import numpy as np

# Load the updated datasets
train_df = pd.read_csv('train_updated.csv')
test_df = pd.read_csv('test_updated.csv')

def convert_embarked(df):
    # Check the data type of the Embarked column
    print("Embarked column data type:", df['Embarked'].dtype)
    print("Unique values in Embarked column:", df['Embarked'].unique())

    # Define the mapping
    embarked_mapping = {'S': 1, 'Q': 2, 'C': 3}

    # Convert to numeric if it's not already
    if df['Embarked'].dtype == 'object':
        df['Embarked'] = df['Embarked'].map(embarked_mapping)
    else:
        # If it's already numeric, round and clip the values
        df['Embarked'] = df['Embarked'].round().clip(1, 3)

    # Fill any NaN values with the most common value
    most_common = df['Embarked'].mode()[0]
    df['Embarked'] = df['Embarked'].fillna(most_common)

    # Ensure all values are integers
    df['Embarked'] = df['Embarked'].astype(int)

    return df

# Apply the conversion to both datasets
train_df = convert_embarked(train_df)
test_df = convert_embarked(test_df)

# Save the updated datasets
train_df.to_csv('train_updated.csv', index=False)
test_df.to_csv('test_updated.csv', index=False)

print("Embarked values converted and datasets updated.")

# Display the first few rows of each dataset to verify the changes
print("\nFirst few rows of the updated training dataset:")
print(train_df[['PassengerId', 'Embarked']].head())

print("\nFirst few rows of the updated testing dataset:")
print(test_df[['PassengerId', 'Embarked']].head())

# Display value counts of Embarked
print("\nEmbarked value counts in training dataset:")
print(train_df['Embarked'].value_counts().sort_index())

print("\nEmbarked value counts in testing dataset:")
print(test_df['Embarked'].value_counts().sort_index())

Embarked column data type: object
Unique values in Embarked column: ['S' 'C' 'Q' nan]
Embarked column data type: object
Unique values in Embarked column: ['Q' 'S' 'C']
Embarked values converted and datasets updated.

First few rows of the updated training dataset:
   PassengerId  Embarked
0            1         1
1            2         3
2            3         1
3            4         1
4            5         1

First few rows of the updated testing dataset:
   PassengerId  Embarked
0          892         2
1          893         1
2          894         2
3          895         1
4          896         1

Embarked value counts in training dataset:
Embarked
1    646
2     77
3    168
Name: count, dtype: int64

Embarked value counts in testing dataset:
Embarked
1    270
2     46
3    102
Name: count, dtype: int64

In [17]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression, Perceptron, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

# Load the updated datasets
train_data = pd.read_csv('train_updated.csv')
test_data = pd.read_csv('test_updated.csv')

# Separate features and target for training data
X_train = train_data.drop('Survived', axis=1)
Y_train = train_data['Survived']

# Prepare test data
X_test = test_data.copy()

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define models
models = {
    'Support Vector Machines': SVC(),
    'KNN': KNeighborsClassifier(),
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(n_estimators=100),
    'Naive Bayes': GaussianNB(),
    'Perceptron': Perceptron(),
    'Stochastic Gradient Descent': SGDClassifier(),
    'Linear SVC': LinearSVC(),
    'Decision Tree': DecisionTreeClassifier()
}

# Train models and calculate accuracy
accuracies = {}
for name, model in models.items():
    model.fit(X_train_scaled, Y_train)
    acc = round(model.score(X_train_scaled, Y_train) * 100, 2)
    accuracies[name] = acc

# Sort accuracies from largest to smallest
sorted_accuracies = dict(sorted(accuracies.items(), key=lambda item: item[1], reverse=True))

# Print sorted accuracies
print("\nModel Accuracies (sorted from largest to smallest):")
for model, accuracy in sorted_accuracies.items():
    print(f"{model}: {accuracy}%")

# Optional: Make predictions with the best model (assuming Random Forest is best)
best_model = models['Random Forest']
Y_pred = best_model.predict(X_test_scaled)

# Create submission file
submission = pd.DataFrame({
    'PassengerId': test_data['PassengerId'],
    'Survived': Y_pred
})
submission.to_csv('submission.csv', index=False)
print("\nPredictions saved to 'submission.csv'")

Model Accuracies (sorted from largest to smallest):
Random Forest: 100.0%
Decision Tree: 100.0%
KNN: 85.19%
Support Vector Machines: 83.95%
Logistic Regression: 80.7%
Stochastic Gradient Descent: 80.58%
Perceptron: 79.69%
Linear SVC: 79.69%
Naive Bayes: 79.57%

Predictions saved to 'submission.csv'

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:1250: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(